/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */
body{
    font-family: Arial, sans-serif;

    background:
    linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");

    background-size:cover;
    background-position:center;

    color:white;
    min-height:100vh;
}

/* NAVBAR */
.navbar{
    width:100%;
    background:#111827;
    padding:15px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:sticky;
    top:0;
}

.logo{
    font-size:22px;
    font-weight:bold;
    color:#facc15;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#facc15;
}

/* MAIN */
.main-container{
    width:90%;
    margin:auto;
    padding:30px 0;
}

h1{
    text-align:center;
    margin-bottom:30px;
    font-size:45px;
    color:#facc15;
}

/* GLASS BOX */
.box{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);

    padding:25px;
    margin-bottom:30px;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,0.4);
}

/* HEADINGS */
.box h2{
    margin-bottom:20px;
    color:#facc15;
}

/* INPUTS */
input{
    width:100%;
    padding:12px;
    margin-bottom:15px;

    border:none;
    border-radius:8px;

    outline:none;
}

/* BUTTON */
button{
    width:100%;
    padding:12px;

    background:#facc15;
    color:black;

    border:none;
    border-radius:8px;

    cursor:pointer;
    font-weight:bold;

    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
}

/* STUDENT CARD */
.student-card{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,0.1);

    padding:10px;
    border-radius:10px;

    margin-bottom:10px;
}

/* SELECT */
select{
    padding:8px;
    border-radius:6px;
}

/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table th,
table td{
    border:1px solid rgba(255,255,255,0.3);
    padding:12px;
    text-align:center;
}

table th{
    background:#facc15;
    color:black;
}

/* CHART */
canvas{
    background:white;
    border-radius:10px;
    padding:10px;
}

/* MOBILE */
@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:10px;
    }

    .nav-links{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }

    h1{
        font-size:30px;
    }

    .student-card{
        flex-direction:column;
        gap:10px;
    }
}